<!--
going to the 'list' route and rendering list
instead of list you could pass 1 or 2 and both links would link to that
list
-->
<h4>
  {{#link-to 'list' list}}
    {{list.title}}
  {{/link-to}}
  <button class='btn-xs btn-default'{{action 'editList'}}> Edit </button>
</h4>
