<form {{action 'save' on='submit'}}>
  {{input placeholder='List Title'
          value=list.title}}
  <button type='submit' class='btn btn-xs btn-success'> Save </button>
  <button {{action 'cancel'}} class='btn btn-xs btn-danger'> Cancel </button>
</form>
